<?xml version="1.0" encoding="utf-8" ?>
<!--{$doctype}-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="jp" lang="jp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Pragma" content-type="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="-1" />
        <title><!--{$siteTitle}--></title>
    </head>
    <body>
        <div id="pageContents">
            <!--{$pageContents}-->
        </div>
    </body>
</html>