<div style="text-align: center;">
    <div style="font-weight: bold;"><{"WIZMOBILE_LANG_REGISTER_UNIQID"|wiz_constant}></div>
    <div style="text-align: left;">
        <{"WIZMOBILE_MSG_REGISTER_UNIQID"|wiz_constant}>
    </div>
    <{if $wizmobile_uniqid !== ''}>
        <form action="index.php" method="post">
            <input type="hidden" name="act" value="RegisterUniqId" />
            <{wiz_gticket area=$wizmobile_dirname}>
            <input type="submit" value="<{"WIZMOBILE_LANG_REGISTER"|wiz_constant}>" />
        </form>
    <{else}>
    <div style="margin-top: 1em; color: #ff0000;">
        <{"WIZMOBILE_MSG_CANNOT_GET_UNIQID"|wiz_constant}>
    </div>
    <{/if}>
</div>